<header id="header">
  <span id="brand">SixDegrees</span>
  <nav>
    <ul>
      <li><a href="https://play.google.com/store/apps/details?id=co.abhriya.sixdegreez" class="btn btn-primary btn-sm" target="_blank">Download</a></li>
    </ul>
  </nav>
</header>