<header id="header">
  <span id="brand">6degrees</span>
  <nav>
    <ul>
      <li id="nav-android"><%= link_to 'Android', '/' %></li>
      <li id="nav-ios"><%= link_to 'iOS', '/ios.html' %></li>
    </ul>
  </nav>
  <a href="https://play.google.com/store/apps/details?id=co.abhriya.sixdegreez" class="btn btn-primary pull-right" target="_blank">Download</a>
</header>