---
title: 6degrees is your connected phonebook
description: The self-updating phonebook that cleans duplicates, integrates your social networks and backs itself up.
keywords: 6degrees, sixdegrees, sixdegreez, address book, phonebook, contacts, contacts manager, delete duplicates, dupe buster
bodyclass: ios
---
<section class="section hero-primary">
  <div class="narrative">
    <h1>Stay connected, forever.</h1>
    <p>The self-updating phonebook that cleans duplicates, integrates your social networks and backs itself up.</p>
    <div class="download">
      <a href="https://itunes.apple.com/app/6degrees/id867466594?mt=8" class="download-badge ios" target="_blank">Download on the App Store</a>
    </div>
  </div>
  <%= image_tag 'phone_ios.jpg', class: 'hero-image', height: 320, width: 640 %>
</section>
<section class="footer section">
  <div class="narrative">
    <p><%= image_tag 'sixdegrees_logo_lg.png', height: 192, width: 192 %></p>
    <p>6degrees is made collaboratively and with love in sunny Singapore and techy Bangalore.</p>
    <p><a href="mailto:hello@get6degrees.com">Say hello</a></p>
  </div>
</section>
