---
title: 6degrees is your connected phonebook
description: The self-updating phonebook that cleans duplicates, integrates your social networks and backs itself up.
keywords: 6degrees, sixdegrees, sixdegreez, address book, phonebook, contacts, contacts manager, delete duplicates, dupe buster
bodyclass: ios
---
<section class="section hero-primary">
  <div class="narrative">
    <h1>Stay connected, forever.</h1>
    <div class="download">
      <p>Coming soon for iOS. Give us your email and we&rsquo;ll send you a note when it's done.</p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://get6degrees.us3.list-manage.com/subscribe/post?u=dca5d54d7e71a77daa4a9afac&amp;id=ee200a9012" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <div class="mc-field-group form-group">
            <label for="mce-EMAIL" style="display:none;">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_dca5d54d7e71a77daa4a9afac_ee200a9012" value="">
          </div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->

    </div>
  </div>
  <%= image_tag 'phone_ios.jpg', class: 'hero-image', height: 320, width: 640 %>
</section>
<section class="footer section">
  <div class="narrative">
    <p><%= image_tag 'sixdegrees_logo_lg.png', height: 192, width: 192 %></p>
    <p>6degrees is made collaboratively and with love in sunny Singapore and techy Bangalore.</p>
    <p><a href="mailto:hello@get6degrees.com">Say hello</a></p>
  </div>
</section>
